html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; /* Ustawia kontener jako elastyczny box (Flexbox) */
  flex-direction: column; /* Ustawia kierunek flexboxa na kolumnę */
  justify-content: center; /* Wyśrodkowuje zawartość kontenera pionowo */
  align-items: center; /* Wyśrodkowuje zawartość kontenera poziomo */
  padding: 20px;
  border-radius: 10px;
}

input, button{
  width: 300px; /* Ustawia szerokość pola tekstowego */
  height: 40px; /* Ustawia wysokość pola tekstowego */
  padding: 15px; /* Dodaje wewnętrzne odstępy w polu tekstowym */
  font-size: 30px; /* Ustawia rozmiar czcionki w polu tekstowym */
  margin-bottom: 50px; /* Ustawia odstęp dolny na 20px */
}
button {
  height: 100px;
}

h1, h2 {
  text-align: center; /* Wyśrodkowuje tekst w nagłówku */
  font-size:30px;
}

h2 {
  margin-bottom: 30px; /* Dodaje odstęp dolny do nagłówka */
}

p {
  margin-top: 30px; /* Dodaje odstęp górny do paragrafu */
  text-align: center; /* Wyśrodkowuje tekst w paragrafie */
}
